*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: #333;
    overflow: hidden;
}
.navbar a{
    float: left;
    display: block;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    padding: 14px 16px;
}
.dropdown{
    float: left;
    color: white;
}
.dropdown .btndrop{
    font-size: 16px;
    border: none;
    outline: none;
    background-color: inherit;
    color: #FFF;
    padding: 14px 16px;
    margin: 0;
}
.navbar a:hover, .dropdown:hover, .btndrop:hover{
    background-color: darkviolet;
}
.dropdownContent{
    position: absolute;
    min-width: 160px;
    background-color: #f9f9f9;
    z-index: 999;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    display: none;
}
.navbar a.icon{
    display: none;
}
.dropdownContent a{
    float: none;
    color: #333;
    text-align: left;
    padding: 12px 16px;
    display: block;
}
.dropdownContent a:hover{
    background-color: violet;
}
.dropdown:hover .dropdownContent{
    display: block;
}

@media screen and (max-width:600px){
    .navbar a, .dropdown .btndrop{
        display: none;
    }
    .navbar a.icon{
        float: right;
        display: block;
    }
}
@media screen and (max-width:600px){
    .navbar.responsive{
        position: relative;
    }
    .navbar.responsive .icon{
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a{
        float: none;
        display: block;
        text-align: left;
    }
    .navbar.responsive .dropdown{
        float: none;
    }
    .navbar.responsive .dropdownContent{
        position: relative;
    }
    .navbar.responsive .dropdown .btndrop{
        display: block;
        width: 100%;
        text-align: left;
    }
}